<button class="btn btn-lg btn-outline-primary bg-dark" (click)="open(addComicModal)">Add Comic</button>

<ng-template #addComicModal let-modal>
    <div class="modal-header text-primary bg-dark">
        <h4 class="modal-title" id="modal-add-comic">Add Comic</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body bg-dark">        
        <div class="modal-size"> 
            <div> 
                <label class="row whiteText" for="title">Please input information on the Comic you would like to add.</label>
                <hr>
                <label class="row whiteText" for="title">Title</label>
                <input type="text" class="form-control input-group-append" id="title">
                <hr>
                <!-- this should be a section you can add more then one title to as in a button that duplicates the alt title section 
                and allows you to add alt title 1 . alt title 2 ect ect -->
                <label class="row whiteText" for="altTitle">Alt Title</label>
                <input type="text" class="form-control" id="altTitle"> 
                <hr>
                <label class="row whiteText" for="author">Author</label>
                <input type="text" class="form-control" id="author">
                <hr>
                <label class="row whiteText" for="title">Artist</label>
                <input type="text" class="form-control" id="artist">
                <hr>
                <label class="row whiteText" for="author">Original Language</label>
                <input type="text" class="form-control" id="originalLanguage">
                <hr>
                <!--  this should be a section that has checkboxes or such that lets you add more then one genre by selecting the ones from a
                list of them -->
                <label class="row whiteText" for="author">Genre</label>
                <input type="text" class="form-control" id="genres">
                <hr>
                <label class="row whiteText" for="author">Status</label>
                <input type="text" class="form-control" id="author">
                <hr>
                <label class="row whiteText" for="author">Latest Release</label>
                <input type="text" class="form-control" id="latestRelease">
                <hr>
                <label class="row whiteText" for="author">Current Chapter</label>
                <input type="text" class="form-control" id="currentChapter">
                <hr>
                <label class="row whiteText" for="author">Description</label>
                <input type="text" class="form-control" id="description">
            </div>
        </div>
    </div>
    <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-light" (click)="addComic()">Save</button>
    </div>
</ng-template>

<!-- List of things needed for this form and examples of them
Title: Black Clover
Alt Title:  ブラッククローバー ; 黑色五叶草 ; Black Five Leaf Grass
Author: Tabata Yuuki
Artist: Tabata Yuuki
Origonal Language: Japanese 
Genres: Action - Adult - Comedy - Fantasy - Sci fi - Shounen - Supernatural a section with buttons that can add a genre to this item
Status:  Ongoing, hiatus, canceled , completed drop down
Latest Release: Chapter 256
Current Chapter: Chapter 252
Description: From MangaHelpers: Aster and Yuno were abandoned together at the same church, and have been inseparable since. 
    As children, they promised that they would compete against each other to see who would become the next sorcerous emperor. 
    However, as they grew up, some differences between them became plain. Yuno was a genius with magic, with amazing power and control, 
    while Aster could not use magic at all, and tried to make up for his lack by training physically. When they received their grimoires at age 15,
    Yuno got a spectacular book with a four-leaf-clover (most people receive a three-leaf-clover), while Aster received nothing at all. However,
    when Yuno was threatened, the truth about Aster's power was revealed-- he received a five-leaf-clover grimoire,
    a 'black clover' book of anti-magic. Now the two friends are heading out in the world, both seeking the same goal!
-->