<button class="btn btn-lg btn-outline-primary bg-dark" (click)="open(addComicModal)">Add Comic</button>

<ng-template #addComicModal let-modal>
    <div class="modal-header text-primary bg-dark">
        <h4 class="modal-title" id="modal-add-comic">Add Comic</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<!-- form validation? numbers for chapters and latest release. spell check? adding more then one author, artist, genre(might be buttons that add the genre to the list).
     original lang being a drop down?  -->
    <div class="modal-body bg-dark">
        <div class="modal-size">
            <form (ngSubmit)="addComic(f)" #f="ngForm"> 
                <!-- onSubmit will need an f in its method call -->
                <div id="form-data">
                    <div class="form-group">
                        <label class="row whiteText" for="title">Please input information on the Comic you would like to add.</label>
                        <hr>
                        <label class="row whiteText" for="title">Title</label>
                        <input type="text" id="title" class="form-control input-group-append" ngModel name="title">
                        <hr>
                        <!-- this should be a section you can add more then one title to as in a button that duplicates the alt title section 
                        and allows you to add alt title 1 . alt title 2 ect ect -->
                        <label class="row whiteText" for="altTitle">Alt Title</label>
                        <input type="text" id="altTitle" class="form-control" ngModel name="altTitle">
                        <hr>
                        <label class="row whiteText" for="author">Author</label>
                        <input type="text" id="author" class="form-control" ngModel name="author">
                        <hr>
                        <label class="row whiteText" for="artist">Artist</label>
                        <input type="text" id="artist" class="form-control" ngModel name="artist">
                        <hr>
                        <label class="row whiteText" for="origonalLanguage">Original Language</label>
                        <input type="text" id="originalLanguage" class="form-control" ngModel name="originalLanguage">
                        <hr>
                        <!--  this should be a section that has checkboxes or such that lets you add more then one genre by selecting the ones from a
                        list of them -->
                        <label class="row whiteText" for="genre">Genre</label>
                        <input type="text" id="genre" class="form-control" ngModel name="genre">
                        <hr>
                        <!-- drop down for status: ongoing, cancelled, hiatus, completed  have tried to use 4 seperate drop downs and they all dont work what am
                        i doing wrong?-->
                        <label class="row whiteText" for="status">Status</label>
                        <select name="status" id="status" class="form-control" ngModel>
                            <option value="ongoing">Ongoing</option>
                            <option value="cancelled">Cancelled</option>
                            <option value="hiatus">Hiatus</option>
                            <option value="completed">Completed</option>
                        </select>
                        <hr>
                        <label class="row whiteText" for="latestRelease">Latest Release</label>
                        <input type="text" id="latestRelease" class="form-control" ngModel name="latestRelease">
                        <hr>
                        <label class="row whiteText" for="currentChapter">Current Chapter</label>
                        <input type="text" id="currentChapter" class="form-control" ngModel name="currentChapter">
                        <hr>
                        <label class="row whiteText" for="description">Description</label>
                        <input type="text" id="description" class="form-control" ngModel name="description">
                    </div>
                </div>
                <div class="modal-footer bg-dark">
                    <button type="submit" class="btn btn-light">Save</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<!-- List of things needed for this form and examples of them
Title: Black Clover
Alt Title:  ブラッククローバー ; 黑色五叶草 ; Black Five Leaf Grass
Author: Tabata Yuuki
Artist: Tabata Yuuki
Origonal Language: Japanese 
Genres: Action - Adult - Comedy - Fantasy - Sci fi - Shounen - Supernatural a section with buttons that can add a genre to this item
Status:  Ongoing, hiatus, canceled , completed drop down
Latest Release: Chapter 256
Current Chapter: Chapter 252
Description: From MangaHelpers: Aster and Yuno were abandoned together at the same church, and have been inseparable since. 
    As children, they promised that they would compete against each other to see who would become the next sorcerous emperor. 
    However, as they grew up, some differences between them became plain. Yuno was a genius with magic, with amazing power and control, 
    while Aster could not use magic at all, and tried to make up for his lack by training physically. When they received their grimoires at age 15,
    Yuno got a spectacular book with a four-leaf-clover (most people receive a three-leaf-clover), while Aster received nothing at all. However,
    when Yuno was threatened, the truth about Aster's power was revealed-- he received a five-leaf-clover grimoire,
    a 'black clover' book of anti-magic. Now the two friends are heading out in the world, both seeking the same goal!
-->