<button class="btn btn-lg btn-outline-primary bg-dark" (click)="open(addComicModal)">Add Comic</button>

<ng-template #addComicModal let-modal>
    <div class="modal-header text-primary bg-dark">
        <h4 class="modal-title" id="modal-add-comic">Add Comic</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body bg-dark">        
        <div class="row whiteText"> 
            <!-- cant make the modal larger and cant get the text box to there for more then one of the labels -->
            <div class="form-control"> 
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title">
                <hr>
                <label class="row whiteText"  for="altTitle">Alt Title</label>
                <input type="text" class="form-control" id="altTitle">
                <hr>
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author">
            </div>
            <!-- <div class="form-control">
                <label for="title">Alt Title</label>
                <input type="text" class="form-control" id="altTitle">
            </div>
            <div class="form-control">
                <label for="title">Author</label>
                <input type="text" class="form-control" id="author">
            </div>
            <div class="form-control">
                <label for="title">Artist</label>
                <input type="text" class="form-control" id="artist">
            </div>
            <div class="form-control">
                <label for="title">Origonal Language</label>
                <input type="text" class="form-control" id="origonalLanguage">
            </div> -->
        </div>
    </div>
    <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-light" (click)="addComic()">Save</button>
    </div>
</ng-template>

<!-- List of things needed for this form and examples of them
Title: Black Clover
Alt Title:  ブラッククローバー ; 黑色五叶草 ; Black Five Leaf Grass
Author: Tabata Yuuki
Artist: Tabata Yuuki
Origonal Language: Japanese 
Genres: Action - Adult - Comedy - Fantasy - Sci fi - Shounen - Supernatural a section with buttons that can add a genre to this item
Status:  Ongoing, hiatus, canceled , completed drop down
Latest Release: Chapter 256
Current Chapter: Chapter 252
Description: From MangaHelpers: Aster and Yuno were abandoned together at the same church, and have been inseparable since. 
    As children, they promised that they would compete against each other to see who would become the next sorcerous emperor. 
    However, as they grew up, some differences between them became plain. Yuno was a genius with magic, with amazing power and control, 
    while Aster could not use magic at all, and tried to make up for his lack by training physically. When they received their grimoires at age 15,
    Yuno got a spectacular book with a four-leaf-clover (most people receive a three-leaf-clover), while Aster received nothing at all. However,
    when Yuno was threatened, the truth about Aster's power was revealed-- he received a five-leaf-clover grimoire,
    a 'black clover' book of anti-magic. Now the two friends are heading out in the world, both seeking the same goal!
-->