<p class="text-white">WIP I Dont know what i want to go here yet</p>
<h2 class="text-white">Ideas open for discussion</h2>
<li class="text-white">Recently added</li>
<li class="text-white">Trending</li>
<li class="text-white">small versions of each of the sections lists</li>
<li class="text-white">friend requests</li>
<li class="text-white">feed section for items others have added</li>
<li class="text-white">patch notes</li>
<li class="text-white">announcements</li>
<li class="text-white">item of the day like to recommend to people or something</li>

<h2 class="text-white">To do list</h2>
<li class="text-white">other works by same author/director/artist</li>


