<table class="table">
    <tr>
      <th>Name:</th>
      <th>Genre:</th>
      <th>Year:</th>
      <th>Rated:</th>
    </tr>
    <tr>
      <td>Iorn Man</td>
      <td>Action, Adventure, Sci-Fi</td>
      <td>2008</td>
      <td>PG-13</td>
    </tr>
    <tr>
      <td>The Mask</td>
      <td>Action, Comedy, Crime</td>
      <td>1994</td>
      <td>PG-13</td>
    </tr>
    <tr>
      <td>Star Wars: Episode IV - A New Hope</td>
      <td>Action, Adventure, Fantasy</td>
      <td>1977</td>
      <td>PG</td>
    </tr>
    <tr>
      <td>Schindler's List</td>
      <td>Biography, Drama, History</td>
      <td>1993</td>
      <td>R</td>
    </tr>
  </table>