<app-add-comic></app-add-comic>
<p>This is where a list of comics will go</p>
<h2 class="text-white">Ideas open for discussion</h2>
<li class="text-white">table same as movies</li>
<li class="text-white">tabs on table for All, Ongoing, Completed/Canceled </li>
<li class="text-white">ability to increment latest chapter and chapter you last read</li>
<li class="text-white">form validation? numbers for chapters and latest release. spell check? adding more then one author, artist, 
    genre(might be buttons that add the genre to the list).original lang being a drop down?</li>
<li class="text-white">alt title creater that will let user add a new alt title if needed up to 5</li>
<li class="text-white">allow genres to be added by user</li>
<li class="text-white">ability to increment latest chapter and chapter you last read</li>
<li class="text-white">ability to increment latest chapter and chapter you last read</li>
