<button class="btn btn-lg btn-outline-primary" (click)="open(addMovieModal)">Add Movie</button>

<ng-template #addMovieModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-add-movie-title">Add Movie</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="searchString" name="searchString"
                    placeholder="Enter Movie to search for...">
                <div class="input-group-append">
                    <button type="button" class="btn btn-success" (click)="searchOmdb(searchString)">Search</button>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Poster:</th>
                        <th>Title:</th>
                        <th>Year:</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let movie of movies" (click)="selectMovie(movie)">
                        <td><img class="moviePoster" [src]="movie.Poster != 'N/A' ? movie.Poster : '/assets/images/not-found-image.jpg'" [alt]="movie.Title"></td>
                        <td>{{movie.Title}}</td>
                        <td>{{movie.Year}}</td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="addMovie()">Save</button>
    </div>
</ng-template>