<app-add-movie (refreshTable)="refreshTable()"></app-add-movie>
<h1 class="text-white">
    This page will display a list of movies, Search Functionality, and be able to add movies to the list searched through the imdb api
    also need to be able to select and show movie details
</h1>
<h2 class="text-white">Ideas open for discussion</h2>
<li class="text-white">Recently added</li>
<li class="text-white">tabs for seen or not, and maybe owned?</li>
<li class="text-white">sort functionality for the tables and a search that is a filter</li>


<app-movie-table [movies]="movies" ></app-movie-table>