<table class="table table-dark">
  <thead>
    <tr>
      <th>Poster:</th>
      <th>Title:</th>
      <th>Genre:</th>
      <th>Year:</th>
      <th>Rated:</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let movie of movies">
      <td><img class="moviePoster" [src]="movie.Poster != 'N/A' ? movie.Poster : '/assets/images/not-found-image.jpg'" [alt]="movie.Title"></td>
      <td>{{movie.Title}}</td>
      <td>{{movie.Genre}}</td>
      <td>{{movie.Year}}</td>
      <td>{{movie.Rated}}</td>
    </tr>
  </tbody>

</table>
